<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurora.aurora">
    <!--
    <permission
        android:name="com.aurora.aurora.permission.AURORA_SERVICES"
        android:label="@string/service_permission_label"
        android:description="@string/service_permission_description" />
    -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FeedbackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--
        The singleTop option makes sure the MainActivity is resumed (not recreated) when back is pressed
        -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Line needed to prevent linting issue:
                 "not indexable by google search" -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--
        AuroraService
        android:permission="com.aurora.aurora.permission.AURORA_SERVICES" in service definition for permission
        -->
        <service android:name="com.aurora.internalservice.internalcache.CacheService">


            <intent-filter>
                <!--
                Did not use the full package name here to hide internal code/package structure
                -->
                <action android:name="com.aurora.internalservice.internalcache.ICache" />
            </intent-filter>
        </service>

    </application>

</manifest>